@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

section.Music {
    height: 100%;
    width: 100%;
    display: flex;

    div.Disc {

        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        overflow: hidden;


        img.DiscPlay {

            height: 920px;
            width: 920px;
            position: absolute;
            margin-left: -370px;
            animation: girar 13s linear infinite;
        }

        img.DiscPause {

            height: 920px;
            width: 920px;
            position: absolute;
            margin-left: -370px;
        }

        .ImgMusic {
            position: absolute;
            left: -45px;
            height: 270px;
            width: 270px;
            border-radius: 50%;
            overflow: hidden;

            span {
                background-color: #e6e6e6;
                display: block;
                position: absolute;
                left: 120px;
                top: 120px;
                height: 30px;
                width: 30px;
                border-radius: 50px;
            }
        }
    }

    div.Info {
        height: 100%;
        width: 60%;
        padding-top: 50px;

        div.Title {
            font-size: 18pt;
            padding: 20px;
            margin-top: 80px;
            //height: 230px;


            h2 {
                font-family: "Boldonse", system-ui;
                font-size: 3em;
                color: rgb(54, 54, 54);
                font-weight: 400;
                font-style: normal;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            h1 {
                font-family: "Montserrat", sans-serif;
                font-size: 1.5em;
                color: rgb(95, 95, 95);
                font-weight: 400;

            }
        }

        div.Fila {
            border-top: 1px solid rgb(170, 170, 170);
            margin-right: 50px;
            padding-top: 10px;
            padding-left: 20px;
            text-align: left;

            h2 {
                display: block;
                color: rgb(44, 44, 44);
                text-transform: uppercase;
                margin: -24px auto 0px auto;
                width: 65px;
                height: 30px;
                text-align: center;
                background-color: #dddddd;
            }

            p {
                font-size: 14pt;
                color: rgb(95, 95, 95);
                text-transform: uppercase;
            }
        }
    }

}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}